.main a:hover {
  text-decoration: none;
}

.main li:nth-of-type(even) a:hover {
  color: red;
}

h1:hover {
  text-decoration: underline;
}

p i {
  position: relative;
}

p:hover b {
  color: red;
  position: relative;
  top: -2px;
  cursor: pointer;
}

p:hover i {
  position: relative;
  top: -2px;
  left: 2px;
}

.main li:nth-of-type(odd) a:hover {
  text-decoration: none;
  color: green;
}

.secondary a:hover {
  text-decoration: overline;
}

p b {
  position: relative;
}
