@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: #2b2b2b;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1356px;
  margin: 0 auto;
}

.banner-cta {
  background: #2b2b2b url(../images/Banners/banner.png) no-repeat center;
  background-size: cover;
  height: 497px;
  width: 100%;
  position: relative;
}

.header-connect {
  color: #e8e8e8;
  position: absolute;
  top: 40px;
  left: 280px;
  display: flex;
}

.header-connect div:nth-of-type(1) a {
  margin-left: 16px;
}

.header-connect div:nth-of-type(2) {
  margin-left: 32px;
}

.header-nav-top {
  display: flex;

  position: absolute;
  top: 40px;
  left: 864px;
}

.header-nav-top .user-controls-header {
  margin-left: 36px;
}

.header-nav-top .user-controls-header a {
  margin-left: 16px;
}

.header-nav-bottom {
  background-color: #2b2b2b;
  height: 51px;
}

.header-nav-bottom ul {
  display: flex;
  justify-content: space-between;
  color: #e8e8e8;
  padding: 16px 0 16px 0;
}

.header-nav-bottom ul li {
  font-size: 19px;
  text-transform: uppercase;
}

.home-catalog-preview {
  margin-top: 80px;
}

.home-catalog-preview .product-tiles {
  display: flex;
  justify-content: space-between;
}

.home-catalog-preview h1 {
  color: #2b2b2b;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 24px;
}

.product-tile {
  width: 23.672566%;
}

.product-tile-title {
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.product-tile-pricing {
  text-align: center;
}

.catalog-break {
  margin-top: 120px;
  display: flex;
}

.catalog-break-text {
  margin-left: 139px;
  text-align: justify;
}

.catalog-break-text h1 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.catalog-break-text p {
  font-weight: 300;
  line-height: 44px;
  font-size: 22px;
  font-family: inherit;
}

.catalog-break-text p:last-of-type {
  margin-top: 68px;
}

.footer {
  background-color: #e8e8e8;
  margin-top: 235px;
}

.footer-content {
  display: flex;
  line-height: 28px;
  justify-content: space-between;
}

.footer-contact ul {
  margin-top: 42px;
  margin-bottom: 42px;
}

.footer-qa {
  margin-top: 42px;
  margin-bottom: 42px;
  margin-left: 120px;
}

.footer-about-us {
  margin-bottom: 42px;
  margin-left: 120px;
  margin-top: 42px;
}

.footer-connect {
  margin-top: 42px;
  margin-bottom: 42px;
  margin-left: 120px;
}
